/* CSS Variables */

:root {
  --ff-base: "Source Sans 3", sans-serif;
  --ff-accent: "Roboto", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-200: 0.75rem; /* 12px */
  --fs-300: 0.875rem; /* 14px */
  --fs-400: 1rem; /* 16px */
  --fs-450: 1.125rem; /* 18px */
  --fs-500: 1.25rem; /* 1.25rem */
  --fs-600: 1.5rem; /* 24px */
  --fs-700: 2rem; /* 32px */
  --fs-750: 2.125rem; /* 34px */
  --fs-800: 2.25rem; /* 36px */
  --fs-900: 2.5rem; /* 2.5rem */

  --clr-primary-400: #505050;
  --clr-primary-600: #202020;
  --clr-primary-700: #151515;
  --clr-secondary-100: #ffffff;
  --clr-secondary-200: #d7d7d7;

  /* 000000 31% */
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

/* Typography */

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: var(--fs-400);
  color: var(--clr-primary-700);
}

.ff-accent {
  font-family: var(--ff-accent);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.text-uppercase {
  text-transform: uppercase;
}

.fc-100 {
  color: var(--clr-secondary-100);
}

.fc-200 {
  color: var(--clr-secondary-200);
}

.fc-400 {
  color: var(--clr-primary-400);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-footer {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-logo {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-article-p {
  font-size: var(--fs-400);
}

.fs-about-h {
  font-size: var(--fs-400);
}

.fs-btn {
  font-size: var(--fs-400);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-article-title {
  font-size: var(--fs-700);
}

.fs-750 {
  font-size: var(--fs-750);
}

.bg-600 {
  background-color: var(--clr-primary-600);
}

@media (min-width: 37.5em) {
  .fs-200 {
    font-size: var(--fs-400);
  }

  .fs-footer {
    font-size: var(--fs-200);
  }

  .fs-300 {
    font-size: var(--fs-300);
  }

  .fs-logo {
    font-size: var(--fs-500);
  }

  .fs-400 {
    font-size: var(--fs-600);
  }

  .fs-article-p {
    font-size: var(--fs-450);
  }

  .fs-about-h {
    font-size: var(--fs-500);
  }

  .fs-btn {
    font-size: var(--fs-300);
  }

  .fs-700 {
    font-size: var(--fs-900);
  }

  .fs-article-title {
    font-size: var(--fs-800);
  }

  .fs-750 {
    font-size: var(--fs-800);
  }
}

/* Styles */

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Header */

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
  gap: 0.31rem;
}

.logo-image {
  max-width: 23px;
  aspect-ratio: 1;
}

/* Navigation */

.main-nav {
  list-style: none;

  display: flex;
  gap: 1.88rem;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

/* Hero */

.hero {
  background-image: url("images/post-image-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  min-height: 293px;

  display: flex;
  align-items: end;
  margin-bottom: 2.19rem;
}

.hero-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.56rem 1.25rem;
}

.hero-title {
  grid-column: 1 / -1;
  text-decoration: none;
  color: inherit;
}

.hero-description {
  grid-column: 1 / -1;
}

@media (min-width: 37.5em) {
  .hero {
    min-height: 488px;
    padding-block: 2.5rem;
    margin-bottom: 3.13rem;
  }
}

@media (min-width: 53.13em) {
  .hero-description {
    grid-column: 1 / 3;
  }
}

/* Posts */

.posts {
  padding: 0rem 1.25rem 2.81rem 1.25rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2.5rem;
}

.posts-btn,
.posts-label {
  grid-column: 1 / -1;
  text-align: center;
}

.posts-btn {
  color: inherit;
}

@media (min-width: 37.5em) {
  .posts {
    gap: 1.56rem;
  }
}

/* Card */

.card {
  display: grid;
  gap: 0.31rem;
}

.card-image {
  height: 232px;
  object-fit: cover;
  border-radius: 0.31rem;
  margin-bottom: 0.31rem;
}

/* Footer */

.main-footer {
  text-align: center;
  padding: 2.19rem;
}

/* about page */

.about-me {
  padding: 1.56rem 1.25rem;
}

.user-avatar {
  max-width: 182px;
  aspect-ratio: 1;
}

.about-title {
  margin: 1.56rem 0rem 0.94rem 0rem;
  line-height: 2.5rem;
}

@media (min-width: 37.5em) {
  .about-me {
    display: flex;
    align-items: center;
    gap: 1.88rem;
  }
}

/* post page */

.content-container {
  max-width: 844px;
  margin: 0 auto;
  padding: 1.56rem 1.25rem;
}

.post-section {
  display: grid;
  gap: 1.25rem;

  margin-bottom: 1.25rem;
}

.post-image {
  margin: -0.63rem 0rem 1.25rem 0rem;
}
